{% extends "base.html" %}

{% block page_title %}
<div id="page-title">
	<div id="page-title-inner">
		<div class="container">
			<h3 style='text-transform: uppercase; color: white;'>Квалификационные категории</h3>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
        	<p>Со списком квалификационных категорий врачей, среднего и младшего медицинского персонала КГБУЗ"Красноярская городская поликлиника № 14" Вы можете ознакомиться, скачав прикрепленный файл:</p>
        	{% for doc in documents %}
        		{% if doc.caption %}
        		<div class="title"><h3>{{doc.caption}}</h3></div>
        		{% endif %}
        		<p class="subtitle-text">
        			<a target="blank" href="{{doc.document.file.url}}">{{doc.label}}</a>
        		</p>
        	{% endfor %}
        </div>
    </div>
{% endblock %}