{% extends "base.html" %}

{% block page_title %}
<div id="page-title">
	<div id="page-title-inner">
		<div class="container">
			<h3 style='text-transform: uppercase; color: white;'>Официальные реквизиты</h3>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
        	<div class="title"><h3>Общая информация об учреждении</h3></div>
        	<table class="table table-striped">
        		<tbody>
        			{% for item in object_list %}
        			<tr>
        				<td>
        					{{item.label | safe}}
        				</td>
        				<td>
        					{{item.text | safe}}
        				</td>
        			</tr>
        			{% endfor %}
        		</tbody>
        	</table>
        	{% for doc in documents %}
        		{% if doc.caption %}
        		<div class="title"><h3>{{doc.caption}}</h3></div>
        		{% endif %}
        		<p class="subtitle-text">
        			<a target="blank" href="{{doc.document.file.url}}">{{doc.label}}</a>
        		</p>
        	{% endfor %}
        	<!--
        	<div class="title"><h3>Лицензии</h3></div>
        	<p class="subtitle-text"> - Лицензия на осуществление мед. деятельности от 21.06.2018</p>
        	<div class="title"><h3>Свидетельства</h3></div>
        	<p class="subtitle-text"> - Свидетельство о внесении записей в ЕГРЮЛ от 08.08.2002 </p>
        	<div class="title"><h3>Устав</h3></div>
        	<p class="subtitle-text"> - Устав КГП №14</p>
        	<div class="title"><h3>ИНН</h3></div>
        	<p class="subtitle-text">2465004033</p>
        -->
        </div>
    </div>
{% endblock %}