.navbar .nav > li > a{
	font-size: 30px !important;
}

.icons-box-vert-container{
    float: none;
}


.img-article {
	max-width: 300px;
}

.icons-box-vert-container > a > .icons-box-vert-info > h3{
	font-size: 42px !important;
}

h3 {
	font-size: 42px !important;
}

.icons-box-vert-container{
	padding-left: 40px;
}

p {
	font-size: 24px;
}

tr, td {
	font-size: 24px;
}