{% extends "base.html" %}

{% block page_title %}
<div id="page-title">
    <div id="page-title-inner">
        <div class="container">
            <h3 style='text-transform: uppercase; color: white;'>
                {{request_path}}
            </h3>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <center>
        <img src="/media/404.png">
        </center>
    </div>
{% endblock %}