{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>КГП № 14</title> 
    <meta name="description" content="Сайт Красноярской городской поликлиники № 14"/>
    <meta name="keywords" content="Медицина, здравоохранение, амбулаторная помощь, Красноярск" />
    <meta name="author" content="Ant, aantarium@gmail.com"/>
    <!-- end: Meta -->
    
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- end: Mobile Specific -->
    
    <!-- start: Facebook Open Graph -->
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <!-- end: Facebook Open Graph -->

    <!-- start: CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% if not request.session.low_vision_mode %}
    <link href="{% static 'css/low_vision_style.css' %}" rel="stylesheet">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    <!-- end: CSS -->

</head>


<body>
    
    <!--start: Header -->
    <header>
        <!--start: Container -->
        <div class="container-fluid addition_line">
            <!--start: Row -->
            <div class="row">
                <div class='change_view'>
                    <a class="buy change-mode" href="{% url 'core:changemode' %}">
                    <i class="fa fa-eye"></i>
                    Режим для слабовидящих
                    </a>
                </div>
            </div>
        </div>
        <!--start: Container -->
        {% if request.session.low_vision_mode %}
            <div class="container">
        {% else %}
            <div class="container-fluid">
        {% endif %}
            
            <!--start: Row -->
            <div class="row">
                    
                <!--start: Logo -->
                <!--
                {% if request.session.low_vision_mode %}
                <div class="logo span3">
                        
                    <a class="brand" href="/"><img src="{% static 'img/logo_pol14.png' %}" alt="Logo"></a>
                        
                </div>
                {% endif %}
            -->
                <div class="logo span3">
                    <a class="brand" href="/"><img src="{% static 'img/logo_pol14.png' %}" alt="Logo"></a>
                </div>
                <!--end: Logo -->
                    
                <!--start: Navigation -->
                {% if request.session.low_vision_mode %}
                <div class="">
                {% else %}
                <div class="">
                {% endif %}
                    
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    {% for topic in topics %}
                                        {% if topic.subtopic %}
                                            <li class="dropdown">
                                                <a href="{{topic.topic.url}}" class="dropdown-toggle" data-toggle="dropdown">{{topic.topic.caption}}</a>
                                                <ul class="dropdown-menu">
                                                    {% for item in topic.subtopic %}
                                                        <li><a href="{{item.url}}">{{item.caption}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><a href="{{topic.topic.url}}">{{topic.topic.caption}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>  
                <!--end: Navigation -->
                    
            </div>
            <!--end: Row -->
            
        </div>
        <!--end: Container-->           
            
    </header>

    {% if request.session.low_vision_mode %}
        {% block slider %}{% endblock%}
    {% endif %}

    {% block page_title %}{% endblock %}

    <div id="wrapper">
        {% if request.session.low_vision_mode %}
            <div class="container">
        {% else %}
            <div class="container-fluid">
        {% endif %}
            {% block content %}{% endblock%}
        </div>
    </div>

    <div id="footer-menu" class="hidden-tablet hidden-phone">

        <!-- start: Container -->
        <div class="container">
            
            <!-- start: Row -->
            <div class="row">

                <!-- start: Footer Menu Logo -->
                <div class="span2">
                    <div id="footer-menu-logo">
                        <a href="#"><img src="{% static 'img/logo_pol14.png' %}" alt="logo" /></a>
                    </div>
                </div>
                <!-- end: Footer Menu Logo -->

                <!-- start: Footer Menu Links-->
                <div class="span9">
                    
                    <div id="footer-menu-links">

                        <ul id="footer-nav">

                            <li><a href="index.html">Главная</a></li>

                            <li><a href="about.html">О нас</a></li>

                            <li><a href="services.html">Услуги</a></li>

                            <li><a href="pricing.html">Профилактика</a></li>
                            
                            <li><a href="contact.html">Контакты</a></li>

                        </ul>

                    </div>
                    
                </div>
                <!-- end: Footer Menu Links-->

                <!-- start: Footer Menu Back To Top -->
                <div class="span1">
                        
                    <div id="footer-menu-back-to-top">
                        <a href="#"></a>
                    </div>
                
                </div>
                <!-- end: Footer Menu Back To Top -->
            
            </div>
            <!-- end: Row -->
            
        </div>
        <!-- end: Container  -->    

    </div>  
    <!-- end: Footer Menu -->

    <!-- start: Footer -->
    <div id="footer">
        
        <!-- start: Container -->
        <div class="container">
            
            <!-- start: Row -->
            <div class="row">

                <!-- start: About -->
                <div class="span3">
                    
                    <h3>О нас</h3>
                    <p>
                        Краевое государственное бюджетное учреждение здравоохранения "Красноярская городская поликлиника №14"<br>Телефоны: + 7 (391) 224-39-50<br>
                        + 7 (391) 224-03-34<br>e-mail: mail@gp14.ru<br>
                        ИНН: 2465004033<br>
                        ОГРН: 1022402467152
                    </p>
                        
                </div>
                <!-- end: About -->

                <!-- start: Photo Stream -->
                <div class="span3">
                    
                    <h3>Мы здесь!</h3>
                    <div id="small-map-container"><a href="contact.html"></a></div>
                    <!--
                    <iframe id="small-map" width="210" height="210" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2227.928892408728!2d92.9438580516306!3d56.05453257605235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5cd7af673be2d013%3A0xafa1c0a319e7ab77!2z0JPQvtGA0L7QtNGB0LrQsNGPINC_0L7Qu9C40LrQu9C40L3QuNC60LAg4oSWIDE0!5e0!3m2!1sru!2sru!4v1563715453303!5m2!1sru!2sru"></iframe>
                -->
                    <iframe id="small-map" width="210" height="210" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://yandex.ru/map-widget/v1/-/CCTBu0oi" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
                    
                </div>
                <!-- end: Photo Stream -->

                <div class="span6">
                
                    <!-- start: Follow Us -->
                    <h3>Мы в соц. сетях!</h3>
                    <ul class="social-grid">
                        <li>
                            <div class="social-item">               
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-twitter">
                                            <a href="http://twitter.com"></a>
                                        </div>
                                        <div class="social-info-back social-twitter-hover">
                                            <a href="http://twitter.com"></a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">               
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-facebook">
                                            <a href="http://facebook.com"></a>
                                        </div>
                                        <div class="social-info-back social-facebook-hover">
                                            <a href="http://facebook.com"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">               
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-dribbble">
                                            <a href="http://dribbble.com"></a>
                                        </div>
                                        <div class="social-info-back social-dribbble-hover">
                                            <a href="http://dribbble.com"></a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="social-item">               
                                <div class="social-info-wrap">
                                    <div class="social-info">
                                        <div class="social-info-front social-flickr">
                                            <a href="http://flickr.com"></a>
                                        </div>
                                        <div class="social-info-back social-flickr-hover">
                                            <a href="http://flickr.com"></a>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- end: Follow Us -->
                
                    <!-- start: Newsletter -->
                    <form id="newsletter">
                        <h3>Больше новостей</h3>
                        <p>Пожалуйста, оставьте свой e-mail</p>
                        <label for="newsletter_input">@:</label>
                        <input type="text" id="newsletter_input"/>
                        <input type="submit" id="newsletter_submit" value="submit">
                    </form>
                    <!-- end: Newsletter -->
                
                </div>
                
            </div>
            <!-- end: Row -->   
            
        </div>
        <!-- end: Container  -->

    </div>
    <!-- end: Footer -->

    <!-- start: Copyright -->
    <div id="copyright">
    
        <!-- start: Container -->
        <div class="container">
        
            <p>
                &copy; 2019, ant.
            </p>
    
        </div>
        <!-- end: Container  -->
        
    </div>


<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-1.8.2.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/flexslider.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/jquery.cslider.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script defer="defer" src="{% static 'js/custom.js' %}"></script>
<!-- end: Java Script -->

</body>
</html>



