{% load staticfiles %}

{% for item in object_list %}
<div class="row">
    <div class="icons-box-vert-container">
        {% if request.session.low_vision_mode %}
        <div class="span12">
        {% else %}
        <div>
        {% endif %}
            <div class="icons-box-vert">
                <a href="{% url 'core:current_new' pk=item.id %}">
                <img class="circle-color small img-article" src="{{item.image.url}}">
                <div class="icons-box-vert-info">
                    <h3>{{item.title}}</h3>
                    <p class="preview-text">{{item.preview}}</p>
                </div>
                <div class="clear"></div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}