{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}
<div id="page-title">
	<div id="page-title-inner">
		<div class="container">
			<h3 style='text-transform: uppercase; color: white;'>&nbsp;</h3>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}

<div class="row">
		
	<div class="span12">				
		<!-- start: About Us -->
		<div id="about">
                <img class="news_img" src="{{object.image.url}}">
			<div class="title news_title"><h3>{{object.title}}</h3></div>
			<p class="news_body">{{object.text | safe}}</p>
		</div>	
		<!-- end: About Us -->
	</div>	
				
</div>
{% endblock %}