{% extends "base.html" %}
{% load staticfiles %}

{% block slider%}
    <div class="slider-wrapper">
        <div id="da-slider" class="da-slider">
            {% for slide in slider%}
                <div class="da-slide">
                <h2>{{slide.title}}</h2>
                <p>{{slide.text}}</p>
                {% if slide.url %}
                    <a href="{{slide.url}}" class="da-link">Перейти</a>
                {% endif %}
                <div class="da-img"><img src="{{slide.image.url}}" alt="image01" /></div>
            </div>
            {% endfor %}
            <nav class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </nav>
        </div>  
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% include 'block_news.html' %}
    </div>
{% endblock %}