{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}
<div id="page-title">
	<div id="page-title-inner">
		<div class="container">
			<h3 style='text-transform: uppercase; color: white;'>Новости</h3>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    {% include 'block_news.html' %}
</div>
{% endblock %}